* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #222222;
}

.center {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* =====.header==== */

.header-page {
	background: #222222;
}

.header-menu-shell {
	display: flex;
	justify-content: space-between;
}

.header-menu__left-position {
	margin: 18px 0 19px 0;
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 41px;
}

.header-menu__left-position a:hover {
	filter: brightness(60%)
}

.header-menu__left-position a:active {
	filter: brightness(40%)
}

.header-search-icon-svg {
	fill: white;
	width: 26px;
	height: 26px;
}

.header-menu__right-position {
	margin: 26px 19px 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 41px;
}

.header-menu__right-position a:hover {
	filter: brightness(60%)
}

.header-menu__right-position a:active {
	filter: brightness(40%)
}

.header-menu-icon-svg {
	width: 32px;
	height: 23px;
	fill: white;
}

.header-profile-icon-svg {
	width: 29px;
	height: 29px;
	fill: white;
}

.header-basket-link {
	position: relative;
}

.header-basket-link span {
	display: block;
	width: 19px;
	height: 19px;
	background-color: #F16D7F;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: absolute;
	top: -20px;
	left: 24px;
}

.header-basket-link:hover svg {
	fill: #9F9F9F;
}

.header-basket-link:active svg {
	fill: #F16D7F;
}

.header-basket-icon-svg {
	width: 32px;
	height: 29px;
	fill: white;
}

.header-basket-amount-produts {}

/* =====End.header==== */

/* ====Products==== */
.product-card-list {
	margin: 48px auto 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(3, minmax(30%, 350px));
	justify-content: space-around;
	gap: 30px;
}

.product-card-item {
	display: block;
	max-width: 360px;
	width: 100%;
	margin: 0 0 30px 0;
	position: relative;
	background: #F8F8F8;
	text-decoration: none;
	box-sizing: border-box;
}

.product-card-item:hover .product-item-photo-wrp::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(58, 56, 56, 0.86);
	position: absolute;
	top: 0;
	left: 0;
}

.product-card-item:hover .product-item-btn {
	visibility: visible;
}

.product-item-btn:hover svg {
	fill: #000;
}

.product-item-btn:hover {
	background-color: #ccc;
	color: #000;
	border: 1px solid #000;
}

.product-item-btn:active {
	background-color: inherit;
	color: #fff;
	border: 1px solid #fff;
}

.product-item-btn:active svg {
	fill: #fff;
}

.product-item-photo-wrp {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 360px;
	width: 100%;
	background-color: #F7E4E2;
	box-sizing: border-box;
	position: relative;
}

.product-card-photo {
	max-width: 360px;
	width: 100%;
}

.product-item-wrp {
	margin: 25px auto 24px 16px;
	background-color: #F8F8F8;
}

.product-card-item-name {
	display: block;
	text-align: start;
	display: block;
	margin: 0 0 12px 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

.product-card-item-description {
	display: block;
	margin: 0 0 18px 0;
	max-width: 312px;
	width: 100%;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
	text-align: start;
}

.product-card-item-price {
	text-align: start;
	color: #F16D7F;
	display: block;
}

.product-item-btn {
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	width: 160px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	background: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	position: absolute;
	top: 30%;
	left: calc(50% - 80px);
}

.product-item-btn svg {
	fill: #fff;
	margin: 0 11px 0 0;
}

.product-btn {
	display: block;
	margin: 50px auto 0;
	padding: 15px 39px;
	outline: 1px solid #FF6A6A;
	color: #F26376;
	border: none;
	background-color: #fff;
}

.product-btn:hover {
	outline: 2px solid #5D5D5D;
	color: #5D5D5D;
}

.product-btn:active {
	background-color: #F16D7F;
	color: #FFFFFF;
	outline: 3px solid #FF6A6A;
}

/* ==== EndProducts==== */

/* ====bonus-offer===== */
.bonus-offer {
	background-color: #222224;
	margin: 96px auto 0;
}

.bonus-offer-shell {}

.bonus-offer-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.bonus-offer-item {
	margin: 104px auto 104px;
	max-width: 360px;
	width: 100%;
	min-height: 134px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.bonus-offer-item-link {
	display: block;
}

.bonus-offer-item-svg {
	fill: #F16D7F;
	display: block;
}

.bonus-offer-item-link:hover svg {
	fill: #9F9F9F;
}

.bonus-offer-item-link:active svg {
	fill: #fff;

}

.bonus-offer-item-title {
	display: block;
	font-weight: 400;
	font-size: 19.96px;
	line-height: 24px;
	color: #FBFBFB;
	text-align: center;
}

.bonus-offer-item-descrption {
	display: block;
	max-width: 298px;
	width: 100%;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
	text-align: center;
}

/* ====ENDbonus-offer===== */

/* ====card-items==== */
.card-items {}

.card-items-heading {
	margin: 96px auto 0;
	margin-left: 457px;
	font-size: 30px;
	line-height: 36px;
	text-transform: capitalize;
}


.product-box {
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	gap: 40px;
}

.product {
	position: relative;
}

.btn__delete {
	position: absolute;
	top: 28px;
	right: 22px;
	width: 18px;
	height: 18px;
	font-size: 0;
	border: none;
	background: none;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(img/krestick.svg);
	cursor: pointer;
}

.product__content {
	display: flex;
	width: 652px;
	box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product__img {
	width: 262px;
}

.product__desc {
	/* font-family: 'Lato'; */
	/* font-style: normal; */
	margin-top: 22px;
	margin-left: 31px;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #575757;
}

.product__name {
	margin-bottom: 42px;
	width: 262px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 29px;
	color: #222222;
}

.product__price {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #EF5B70;
}

.product__qty {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 24px;
}

.input__quantity {
	width: 44px;
	font-weight: 400px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #656565;
	border: 1px solid #EAEAEA;
}

/* ====ENDcard-items==== */